WithoutHaste.Sequences/.vs
WithoutHaste.Sequences/WithoutHaste.Sequences/bin/Debug/*
WithoutHaste.Sequences/WithoutHaste.Sequences/obj/*

WithoutHaste.Sequences/TestSequences/bin/*
WithoutHaste.Sequences/TestSequences/obj/*